node-red-configuration.json
[{"id":"aa962487.3cc8a8","type":"mqtt out","z":"fd25351d.3328b8","name":"AWS MQTT","topic":"/home","qos":"","retain":"","broker":"f97376e3.0709a8","x":530,"y":160,"wires":[]},{"id":"87051e72.0b93f","type":"inject","z":"fd25351d.3328b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["aa962487.3cc8a8"]]},{"id":"a28a91ac.1e038","type":"mqtt in","z":"fd25351d.3328b8","name":"AWS MQTT","topic":"/home","qos":"0","broker":"f97376e3.0709a8","x":150,"y":320,"wires":[["c4d4ce48.5f614"]]},{"id":"c4d4ce48.5f614","type":"debug","z":"fd25351d.3328b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"ce8ff281.e7f85","type":"mqtt in","z":"fd25351d.3328b8","name":"ESP","topic":"esp8266_4EDEC7/rpc","qos":"0","broker":"f97376e3.0709a8","x":150,"y":400,"wires":[["c4d4ce48.5f614"]]},{"id":"2321d9c9.322ee6","type":"mqtt out","z":"fd25351d.3328b8","name":"ESP","topic":"esp8266_4EDEC7/rpc","qos":"","retain":"","broker":"f97376e3.0709a8","x":510,"y":240,"wires":[]},{"id":"eb7a5cae.d86c5","type":"inject","z":"fd25351d.3328b8","name":"","topic":"","payload":"{ \"message\": \"Hello from node-red\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["2321d9c9.322ee6","aa962487.3cc8a8"]]},{"id":"f97376e3.0709a8","type":"mqtt-broker","z":"","name":"","broker":"a20c52caskrcq3.iot.us-west-2.amazonaws.com","port":"8883","tls":"d69882c0.bd62b","clientid":"Test","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d69882c0.bd62b","type":"tls-config","z":"","name":"AWS","cert":"","key":"","ca":"","certname":"e1cf2ac21e-certificate.pem.crt","keyname":"e1cf2ac21e-private.pem.key","caname":"rootCA.pem","verifyservercert":true}]
